{% extends 'admin/base.html' %}
{% load static %}
{% block extrahead %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin/base.css' %}"> {% endcomment %}
{% endblock %}


{% block title %}{{ title }} | My Custom Admin{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Admin Paneli</a></h1>
{% endblock %}

{% block nav-global %}
    <!-- Buraya özelleştirilmiş navigasyon menüsü eklenebilir -->
    {{ block.super }}
{% endblock %}

{% block content %}
    <div id="content-main">
        <h2>Welcome to My Custom Admin Panel</h2>
        <!-- Diğer özelleştirilmiş içerikler buraya eklenebilir -->
    </div>
{% endblock %}