{% extends "panel_layout.html" %}
{% load custom_filters %}
{% block head %}
{% endblock head %}
{% block content %}
{% load humanize %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-body">
<div class="invoice-title">
<h4 class="float-end font-size-15">SP-{{ order_detail.order_id }} </h4>
<h5 class="float-end font-size-15">Siparişi veren: {{ order_detail.user }} </h5>
<h5 class="float-end font-size-15">Kargo: {{ order_detail.cargo }} </h5>
<div class="mb-4">

</div>
<div class="text-muted">
<p class="mb-1">Net Bağlantı Elemanları San ve Tic. Ltd. Şti.</p>
<p class="mb-1"><i class="uil uil-envelope-alt me-1"></i><i>info@netbaglanti.com.tr</i></p>
<p><i class="uil uil-phone me-1"></i> 0542 685 74 34</p>
</div>
</div>
<hr class="my-4">
<div class="row">

<div class="col-sm-6">
{% comment %} <div class="text-muted">

<h5 class="font-size-16 mb-3">Alıcı:</h5>
<h5 class="font-size-15 mb-2">{{ profile.company }}</h5>
<p class="mb-1">4068 Post Avenue Newfolden, MN 56738</p>
<p class="mb-1"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6a3a180f191e0504270306060f182a0b180713191a1344090507">[email&#160;protected]</a></p>
<p>001-234-5678</p>
</div>
</div>

<div class="col-sm-6">
<div class="text-muted text-sm-end">
<div>
<h5 class="font-size-15 mb-1">Invoice No:</h5>
<p>#DZ0112</p>
</div>
<div class="mt-4">
<h5 class="font-size-15 mb-1">Invoice Date:</h5>
<p>12 Oct, 2020</p>
</div>
<div class="mt-4">
<h5 class="font-size-15 mb-1">Order No:</h5>
<p>#1123456</p>
</div>
</div> {% endcomment %}
</div>

</div>

<div class="py-2">

<div class="table-responsive">
<table class="table align-middle table-nowrap table-centered mb-0 table-striped">
<thead>
<tr>

<th>Ürün</th>
<th>USD Fiyat</th>
<th>Adet</th>
<th class="text-end" style="width: 120px;">fİYAT</th>
</tr>
</thead>
<tbody>
{% for profile in my_profile %}
<p>{{ prodfile.company }}</p>
{% endfor %}
{% for item in order_detail.order_item.all %}
<tr>
    <td>
        <div>
            <h5 class="text-truncate font-size-14 mb-1">{{ item.product.name }}</h5>
            <p class="text-muted mb-0">{{ item.size }}</p>
        </div>
    </td>
    <td>{{ item.product.price }}</td>
    <td>{{ item.quantity }}</td>
    <td class="text-end">{{ item.product|usd_calc:item.product.price|intcomma }} TL</td>
</tr>
{% endfor %}




</tbody>
</table>
<div class="d-flex justify-content-end">
<div class="card border-0 col-4 mb-2">

    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
          Ara Toplam
          
          <span>{{ total_price_rounded|intcomma }} TL</span>
        </li>

        <li
        class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
        KDV Tutarı
        <span>{{kdv_rounded|intcomma }} TL</span>
        </li>


        <li
          class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
          <div>
            {% comment %} <strong>KDV Dahil</strong> {% endcomment %}
            <strong>
              <p class="mb-0">Genel Toplam</p>
            </strong>
          </div>
          <span><strong>{{ kdv_price_rounded|intcomma }} TL</strong></span>
        </li>
      </ul>


    </div>

  </div>
</div>
<div class="d-print-none mt-4">
<div class="float-end">
<a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
{% comment %} <a href="#" class="btn btn-primary w-md">Send</a> {% endcomment %}
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
	
</script>
{% endblock content %}